.a1
{
 font-size: 25px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    font-family: monospace;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #3ADEFF;
    text-align:center;
    word-spacing: 6px
}
.a2
{
 color: #b80935;
font-size: 25px;
	font-family:monospace;
	position:absolute;
	top:440px;
	left:5%;
	height:200px;
	width:400px;
	border-radius:20px;
}
.a3
{
background-color:yellow;
	font-family:arial;
	position:absolute;
	top:100px;
	left:5%;
	height:350px;
	width:360px;
	border-radius:20px;
}
.b1
{
background-color:;
	font-family:arial;
	position:absolute;
	top:110px;
	left:42%;
	height:380px;
	width:310px;
	border-radius:15px;
}
.p1
{
 color: yellow;
font-size: 25px;
	font-family:monospace;
	position:absolute;
	top:100px;
	left:45%;
	height:200px;
	width:400px;
	border-radius:20px;
}
.p2
{
 color: yellow;
font-size: 25px;
	font-family:monospace;
	position:absolute;
	top:440px;
	left:5%;
	height:200px;
	width:400px;
	border-radius:20px;
}
.p3{
	 background-color: green;
font-size: 25px;
	font-family:monospace;
	position:absolute;
	top:200px;
	left:25%;
	height:200px;
	width:400px;
	border-radius:20px;
}
.p4{
	background-color: green;
font-size: 25px;
	font-family:monospace;
	position:absolute;
	top:200px;
	left:45%;
	height:200px;
	width:400px;
	border-radius:20px;

}
.p5{
	background-color: green;
font-size: 25px;
	font-family:monospace;
	position:absolute;
	top:200px;
	left:65%;
	height:200px;
	width:400px;
	border-radius:20px;

}

